html {
  margin-top: -8px;
  margin-left: -8px;
}

/*header*/
* {
  flex-wrap: nowrap;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
}

header {
  margin: 0px;
  width: 375px;
  height: auto;
}

.photo-plat-restaurant {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.bouton-de-retour{
  display: flex;
}

.logo-chaine-1 {
margin-left: 100%;
margin-bottom: 30px;
margin-top: 10px;
  width: 160vh;
}
.fleche-retour {
height: 3vh;
cursor: pointer;

}

.fleche-retour:hover{
  cursor: pointer;
  
}


button {
  background: none;
  border: none;
}

.bouton-de-retour > button:nth-child(1) {
 margin-left: 20px;
}


.logo-coeur-titre {
  margin-left: 100px;
  margin-top: 39px;
}

.titre-h1 {
  margin-left: 35%;
  display: flex;
}

h1 {
  width: 300px;
  font-size: 27px;
  margin-left: 15px;
  font-family: 'Shrikhand', cursive;
}

#ensemble-du-menu {
  width: 378px;
  border-radius: 30px;
  background: coral;
}

h3 {
  font-size: 15px;
  width: 60px;
  margin-left: 15px;
  border-bottom: 1px solid green;
}

#ensemble-du-menu {
  height:1230px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: -210px auto;
  padding: 15px 15px 0% 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  background-color: #e5e5e5;
  border-radius: 15px 15px 0px 0px;
}

/* TARTARE DE POULPE ACIDULE*/

.div-tartare-de-poulpe {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}
.div-tartare-de-poulpe:hover .bouton-validation {
  
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: scale-x 200ms 0ms linear both;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.tartare-de-poulpe {
 
  max-width:1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.p-titre {
  width: 20rem;
  flex-shrink: 0;
  margin-left: 10px;
}



.div-tartare-de-poulpe:hover .p-titre-prix {
  margin-left: 20px;
  transition-duration: 300ms;
}

.tartare-de-poulpe .p-titre-prix {
  margin-left: 180px;
}

.tartare-de-poulpe > p:nth-child(2) > b:nth-child(1) {
  margin-left: 85px;
}

/* VELOUTE DE LEGUMES*/

.div-veloute-de-legumes {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-veloute-de-legumes:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.veloute-de-legumes {
   
  max-width:1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.p-titre {
  flex-shrink: 0;
  margin-left: 10px;
}

.div-veloute-de-legumes:hover .p-titre-prix {
  margin-left: 20px;
  transition-duration: 300ms;
}

.veloute-de-legumes .p-titre-prix {
  margin-left: 182px;
}

.veloute-de-legumes > p:nth-child(2) > b:nth-child(1) {
  margin-left: 85px;
}

/* SOUPE A L'OIGNON*/

.div-soupe-a-l-oignon {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-soupe-a-l-oignon:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.soupe-a-l-oignon {
  max-width:1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.soupe-a-l-oignon .p-titre-prix {
  margin-left: 265px;
}

.div-soupe-a-l-oignon:hover .p-titre-prix {
  margin-left: 100px;
  transition-duration: 300ms;
}
/* section plat */



/* COQUILLE SAINT JACQUES*/

.div-coquilles-saint-jacques {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-coquilles-saint-jacques:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.coquilles-saint-jacques {
  max-width:1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}
.coquilles-saint-jacques .p-titre-prix{
margin-left: 265px;
}

.div-coquilles-saint-jacques:hover .p-titre-prix{
  margin-left: 100px;
  transition-duration: 300ms;
}

/* Magret */

.div-magret-de-canard{
position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-magret-de-canard:hover .bouton-validation{
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.magret-de-canard{
  margin-left: 10px;
  max-width:1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}
.magret-de-canard .p-titre-prix{
  margin-left: 280px;
}
.div-magret-de-canard:hover .p-titre-prix{
  margin-left: 120px;
  transition-duration: 300ms;
}
.p-titre-magret{
  width:300px;

}




































/* pigeonneau */

.div-pigeonneau-d-illes-et-vilaine {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}


.div-pigeonneau-d-illes-et-vilaine:hover .bouton-validation {
opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.pigeonneau-d-illes-et-vilaine {
  max-width:1600px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}


.pigeonneau-d-illes-et-vilaine .p-titre-prix {
 margin-left: 330px; 
}

.div-pigeonneau-d-illes-et-vilaine:hover .p-titre-prix {
  margin-left: 170px;
  transition-duration: 300ms;
}

.p-titre-pigeonneau {
  width: 250px;
}



/* DESSERT */


.div-petales-de-violettes-glaces{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-petales-de-violettes-glaces:hover .bouton-validation{
 opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.petales-de-violettes-glaces{
  max-width:1600px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.petales-de-violettes-glaces .p-titre-prix{
  margin-left: 330px;
}
.div-petales-de-violettes-glaces:hover .p-titre-prix{
  margin-left: 180px;
  transition-duration: 300ms;
}

.p-titre-petale {
  width:250px

}

/* FONDANT AU CHOCOLAT */

.div-fondant-au-chocolat{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-fondant-au-chocolat:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.fondant-au-chocolat{
  max-width:1600px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.fondant-au-chocolat .p-titre-prix {
  margin-left: 250px;
}
 .div-fondant-au-chocolat:hover .p-titre-prix{
   margin-left: 100px;
  transition-duration: 300ms;
 }

 /* Millefeuilles */

.div-millefeuille-croustillant{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-millefeuille-croustillant:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.millefeuille-croustillant{
  max-width:1600px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.millefeuille-croustillant .p-titre-prix{
  margin-left: 250px;
}

.div-millefeuille-croustillant:hover .p-titre-prix{
  margin-left: 100px;
  transition-duration: 300ms;
}






/* .div-coquilles-saint-jacques {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}

.div-coquilles-saint-jacques:hover .bouton-validation {
  margin-left: 25px;
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}
.div-coquilles-saint-jacques:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}
.coquilles-saint-jacques {
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}

.coquilles-saint-jacques:hover {
  margin-left: -38px;
}

.p-titre-coquille {
  width: 280px;
  margin-top: 7px;
  height: 50px;
  margin-bottom: 7px;
}

.div-coquilles-saint-jacques:hover .p-titre-coquille {
  opacity: 0;
}

.p-titre-coquille-1 {
  position: absolute;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  margin-left: 45px;
}

.div-coquilles-saint-jacques:hover .p-titre-coquille-1 {
  opacity: 1;
}

p.p-titre-prix:nth-child(3) {
  margin-left: 9px;
  margin-bottom: 16px;
  margin-top: 29px;
}

p.p-titre-prix:nth-child(3):hover {
  margin-left: -50px;
  margin-top: 30px;
  margin-bottom: 0px;
  width: 0px;
  height: 30px;
}

.div-coquilles-saint-jacques:hover > span:nth-child(2) {
  margin-left: 30px;
}

/* MAGRET DE CANARD */

/* .div-magret-de-canard {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}

.div-magret-de-canard:hover .bouton-validation {
  margin-left: 25px;
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}

.div-magret-de-canard:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}

.magret-de-canard {
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}
.magret-de-canard:hover {
  margin-left: -38px;
}

.p-titre-magret {
  width: 280px;
  margin-top: 7px;
  height: 50px;
  margin-bottom: 7px;
}
.div-magret-de-canard:hover .p-titre-magret {
  opacity: 0;
}

.p-titre-magret-1 {
  position: absolute;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  margin-left: 45px;
}
.div-magret-de-canard:hover .p-titre-magret-1 {
  opacity: 1;
}

.magret-de-canard > p:nth-child(3) {
  width: 45px;
  height: 30px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.div-magret-de-canard > span:nth-child(2) {
  margin-left: 30px;
}  */

/* PIGEONNEAU D'ILLES ET VILAINE */

/* .div-pigeonneau-d-illes-et-vilaine {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}
.div-pigeonneau-d-illes-et-vilaine:hover .bouton-validation {
  margin-left: 25px;
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}
.div-pigeonneau-d-illes-et-vilaine:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}
.pigeonneau-d-illes-et-vilaine {
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}
.pigeonneau-d-illes-et-vilaine:hover {
  margin-left: -38px;
}

.p-titre-pigeonneau {
  width: 280px;
  margin-top: 7px;
  height: 50px;
  margin-bottom: 7px;
}

.div-pigeonneau-d-illes-et-vilaine:hover .p-titre-pigeonneau {
  opacity: 0;
}

.p-titre-pigeonneau-1 {
  position: absolute;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  margin-left: 45px;
}

.div-pigeonneau-d-illes-et-vilaine:hover .p-titre-pigeonneau-1 {
  opacity: 1;
}

.pigeonneau-d-illes-et-vilaine > p:nth-child(3) {
  width: 45px;
  height: 30px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 0px;
} */

/* PETALES DE VIOLETTE GLACES */

/*.div-petales-de-violettes-glaces {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}
.div-petales-de-violettes-glaces:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}
.div-petales-de-violettes-glaces:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}
.div-petales-de-violettes-glaces > span:nth-child(2) {
  margin-left: 42px;
}

.petales-de-violettes-glaces {
  width: 260px;
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}

.petales-de-violettes-glaces > p:nth-child(2) {
  margin-bottom: 0px;
  margin-top: 30px;
  margin-left: 0px;
}

.p-titre-petale {
  width: 280px;
  margin-top: 7px;
  height: 50px;
  margin-bottom: 7px;
}

.p-titre-prix:hover {
  margin-left: -20px;
}

/* FONDANT AU CHOCOLAT */

/*.div-Fondant-au-chocolat {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}
.div-Fondant-au-chocolat:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}

.div-Fondant-au-chocolat:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}
.div-Fondant-au-chocolat:hover > span:nth-child(2) {
  margin-left: 42px;
}

.Fondant-au-chocolat {
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}

.Fondant-au-chocolat > p:nth-child(1) {
  width: 166.15px;
}

.Fondant-au-chocolat > p:nth-child(2) {
  margin-bottom: 0px;
  margin-top: 30px;
  margin-left: 65px;
}


/* bouton commander */

.bouton-commander{
  margin-left: 37%;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  text-align: center;
}

.commander{
  background: rgb(255, 121, 218);
  background: linear-gradient(
    171deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
  border: 2px;
  border-radius: 35px;
  height: 50px;
  width: 250px;
}

.p-botton-commander{
   color: white;
  margin: 40px auto;
  padding-top: 13px;
  font-size: 19px;
  text-align: center;
}

/* FOOTER*/

.div-footer {
  position: relative;
  height: auto;
  top:340px;
  width: 100%;
background-color: #354146;

  /* background: #141414d8;
  width: 375px;
  height: 160px;
  padding-top: 1px;
  margin-top: -20px; */
}



.logo-de-la-chaine-footer {
  margin-bottom: 10px;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  width: 175px;
  color: white;
  margin-left: 48%;
}

.bloc-footer-image-1 {
  
  display: flex;
  align-items: center;
  margin-left: 45%;
}

.couvert-footer {
  margin-top: -7px;
}

.p-couvert {
  
  margin: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.bloc-footer-image-2 {
  display: flex;
  align-items: center;
  margin-left: 45%;
}

.p-poignet-de-mains {
  text-align: center;
  margin: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.mention {
  margin-top: 5px;
  margin-left: 45%;
  margin-bottom: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}

.contact {
  margin-top: 5px;
  margin-left: 45%;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}



footer{
  align-items: center;
}
