html {
  margin-top: -8px;
  margin-left: -8px;
}

/*header*/
* {
  flex-wrap: nowrap;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
}

header {
  margin: 0px;
  width: 375px;
  height: auto;
}

.photo-plat-restaurant {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.logo-chaine-1 {
  justify-content: center;
  margin: 10px 0px 5px 62px;
  text-align: center;
  width: 160px;
}
.fleche-retour {
  margin-top: 0px;
  margin-bottom: 12px;
  margin-left: 7px;
  padding-left: 0px;
}

button {
  background: none;
  border: none;
}

.logo-coeur-titre {
  margin-left: 10px;
  margin-top: 39px;
}

.titre-h1 {
  display: flex;
}

h1 {
  width: 300px;
  font-size: 27px;
  margin-left: 15px;
  font-family: 'Shrikhand', cursive;
}

#ensemble-du-menu {
  width: 378px;
  border-radius: 30px;
  background: coral;
}

h3 {
  font-size: 15px;
  width: 60px;
  margin-left: 15px;
  border-bottom: 1px solid green;
}

#ensemble-du-menu {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: auto;
  top: -20px;
  padding: 15px 15px 0% 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  background-color: #e5e5e5;
  border-radius: 15px 15px 0px 0px;
}

/* TARTARE DE POULPE ACIDULE*/

.div-tartare-de-poulpe {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}
.div-tartare-de-poulpe:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.tartare-de-poulpe {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.p-titre {
  flex-shrink: 0;
  margin-left: 10px;
}

.div-tartare-de-poulpe:hover .p-titre-prix {
  margin-left: 130px;
  transition-duration: 300ms;
}

.tartare-de-poulpe .p-titre-prix {
  margin-left: 270px;
}

.tartare-de-poulpe > p:nth-child(2) > b:nth-child(1) {
  margin-left: 85px;
}



/* VELOUTE DE LEGUMES*/

.div-veloute-de-legumes {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-veloute-de-legumes:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.veloute-de-legumes {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.p-titre{
  flex-shrink: 0;
  margin-left: 10px;
}

.div-veloute-de-legumes:hover .p-titre-prix {
  margin-left: 130px;
  transition-duration: 300ms;
}

.veloute-de-legumes .p-titre-prix {
  margin-left: 250px;
}

.veloute-de-legumes > p:nth-child(2) > b:nth-child(1){
  margin-left: 85px;
}

/* SOUPE A L'OIGNON*/

.div-soupe-a-l-oignon {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-soupe-a-l-oignon:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.soupe-a-l-oignon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}

.soupe-a-l-oignon .p-titre-prix {
  margin-left: 316px;
}

.div-soupe-a-l-oignon:hover .p-titre-prix {
  margin-left: 215px;
  transition-duration: 300ms;
}

/* COQUILLE SAINT JACQUES*/

.div-coquilles-saint-jacques {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-coquilles-saint-jacques:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.coquilles-saint-jacques {
  line-height: 22px;
}

.coquilles-saint-jacques .p-titre-prix {
  margin-left: 316px;
}

.div-coquilles-saint-jacques:hover .p-titre-prix {
  margin-left: 167px;
  transition-duration: 300ms;
}

.p-titre-prix {
  width: 100%;
}

.p-titre-coquille:hover {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}

/* .div-coquilles-saint-jacques {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}

.div-coquilles-saint-jacques:hover .bouton-validation {
  margin-left: 25px;
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}
.div-coquilles-saint-jacques:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}
.coquilles-saint-jacques {
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}

.coquilles-saint-jacques:hover {
  margin-left: -38px;
}

.p-titre-coquille {
  width: 280px;
  margin-top: 7px;
  height: 50px;
  margin-bottom: 7px;
}

.div-coquilles-saint-jacques:hover .p-titre-coquille {
  opacity: 0;
}

.p-titre-coquille-1 {
  position: absolute;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  margin-left: 45px;
}

.div-coquilles-saint-jacques:hover .p-titre-coquille-1 {
  opacity: 1;
}

p.p-titre-prix:nth-child(3) {
  margin-left: 9px;
  margin-bottom: 16px;
  margin-top: 29px;
}

p.p-titre-prix:nth-child(3):hover {
  margin-left: -50px;
  margin-top: 30px;
  margin-bottom: 0px;
  width: 0px;
  height: 30px;
}

.div-coquilles-saint-jacques:hover > span:nth-child(2) {
  margin-left: 30px;
}

/* MAGRET DE CANARD */

/* .div-magret-de-canard {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}

.div-magret-de-canard:hover .bouton-validation {
  margin-left: 25px;
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}

.div-magret-de-canard:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}

.magret-de-canard {
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}
.magret-de-canard:hover {
  margin-left: -38px;
}

.p-titre-magret {
  width: 280px;
  margin-top: 7px;
  height: 50px;
  margin-bottom: 7px;
}
.div-magret-de-canard:hover .p-titre-magret {
  opacity: 0;
}

.p-titre-magret-1 {
  position: absolute;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  margin-left: 45px;
}
.div-magret-de-canard:hover .p-titre-magret-1 {
  opacity: 1;
}

.magret-de-canard > p:nth-child(3) {
  width: 45px;
  height: 30px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.div-magret-de-canard > span:nth-child(2) {
  margin-left: 30px;
}  */

/* PIGEONNEAU D'ILLES ET VILAINE */

/* .div-pigeonneau-d-illes-et-vilaine {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}
.div-pigeonneau-d-illes-et-vilaine:hover .bouton-validation {
  margin-left: 25px;
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}
.div-pigeonneau-d-illes-et-vilaine:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}
.pigeonneau-d-illes-et-vilaine {
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}
.pigeonneau-d-illes-et-vilaine:hover {
  margin-left: -38px;
}

.p-titre-pigeonneau {
  width: 280px;
  margin-top: 7px;
  height: 50px;
  margin-bottom: 7px;
}

.div-pigeonneau-d-illes-et-vilaine:hover .p-titre-pigeonneau {
  opacity: 0;
}

.p-titre-pigeonneau-1 {
  position: absolute;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  margin-left: 45px;
}

.div-pigeonneau-d-illes-et-vilaine:hover .p-titre-pigeonneau-1 {
  opacity: 1;
}

.pigeonneau-d-illes-et-vilaine > p:nth-child(3) {
  width: 45px;
  height: 30px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 0px;
} */

/* PETALES DE VIOLETTE GLACES */

/*.div-petales-de-violettes-glaces {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}
.div-petales-de-violettes-glaces:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}
.div-petales-de-violettes-glaces:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}
.div-petales-de-violettes-glaces > span:nth-child(2) {
  margin-left: 42px;
}

.petales-de-violettes-glaces {
  width: 260px;
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}

.petales-de-violettes-glaces > p:nth-child(2) {
  margin-bottom: 0px;
  margin-top: 30px;
  margin-left: 0px;
}

.p-titre-petale {
  width: 280px;
  margin-top: 7px;
  height: 50px;
  margin-bottom: 7px;
}

.p-titre-prix:hover {
  margin-left: -20px;
}

/* FONDANT AU CHOCOLAT */

/*.div-Fondant-au-chocolat {
  width: 350px;
  margin-left: 15px;
  margin-top: 10px;
  background: white;
  display: flex;
  border-radius: 15px;
}
.div-Fondant-au-chocolat:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.5);
  transition-duration: 1s;
  transform-origin: right;
}

.div-Fondant-au-chocolat:hover .validation {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: transform 480ms ease-out 10ms;
}
.div-Fondant-au-chocolat:hover > span:nth-child(2) {
  margin-left: 42px;
}

.Fondant-au-chocolat {
  height: 58px;
  margin-left: 10px;
  display: flex;
  line-height: 22px;
}

.Fondant-au-chocolat > p:nth-child(1) {
  width: 166.15px;
}

.Fondant-au-chocolat > p:nth-child(2) {
  margin-bottom: 0px;
  margin-top: 30px;
  margin-left: 65px;
}

/* FOOTER*/

.div-footer {
  background: #141414d8;
  width: 375px;
  height: 160px;
  padding-top: 1px;
  margin-top: -20px;
}

.logo-de-la-chaine-footer {
  margin-bottom: 10px;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  width: 175px;
  color: white;
  margin-left: 20px;
}

.bloc-footer-image-1 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.couvert-footer {
  margin-top: -7px;
}

.p-couvert {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.bloc-footer-image-2 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.p-poignet-de-mains {
  margin: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.mention {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}

.contact {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}
