

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media screen and (min-width: 750px){
  .ensemble-nav {
    height:190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center center;
        -ms-flex-pack: center center;
            justify-content: center center;
  }

  .ensembles-div-restaurant {
 height: 640px;
 margin-left: 111px;
}

  .div-article-restaurant {
 height: 620px;
 margin-left: 20px;
}


  .icone-nouveau-1 {
    font-family: -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 272px;
    margin-top: 15px;
    top: 720px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    position: absolute;
    z-index: 10;
    color: black;
    background-color: #99e2d0;
    width: 70px;
    text-align: center;
    border-radius: 3px;
  }

  .icone-nouveau-2 {
    font-family: -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 211px;
    margin-top: 15px;
    top: 720px;
    left: 34%;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    position: absolute;
    z-index: 10;
    color: black;
    background-color: #99e2d0;
    width: 70px;
    text-align: center;
    border-radius: 3px;
  }

  .ensembles-div-restaurant {
    margin-left: 48px;
    height: 540px;
    width: 100%;
    /* align-content: center; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bloc-restauration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 670px;
  }

  .div-article-restauration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
  }
  /*FOOTER*/

  .logo-de-la-chaine-footer {
    margin-bottom: 10px;
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    width: 25%;
    color: white;
    margin-left: 45%;
  }

  .bloc-footer-image-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 45%;
  }

  .couvert-footer {
    margin-top: -7px;
  }

  .p-couvert {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15px;
    color: white;
  }

  .bloc-footer-image-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 45%;
  }

  .p-poignet-de-mains {
    text-align: center;
    margin: 0px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15px;
    color: white;
  }

  .mention {
    margin-top: 5px;
    margin-left: 45%;
    margin-bottom: 0px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  .contact {
    margin-top: 5px;
    margin-left: 45%;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@-webkit-keyframes derouler {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
  }
}

@keyframes derouler {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
  }
}
@-webkit-keyframes translation-bloc {
  0% {
    -webkit-transition: -webkit-transform scale(0ms);
    transition: -webkit-transform scale(0ms);
    -o-transition: transform scale(0ms);
    transition: transform scale(0ms);
    transition: transform scale(0ms), -webkit-transform scale(0ms);
    opacity: 0;
  }
  50% {
    -webkit-transition: -webkit-transform scale(1000ms);
    transition: -webkit-transform scale(1000ms);
    -o-transition: transform scale(1000ms);
    transition: transform scale(1000ms);
    transition: transform scale(1000ms), -webkit-transform scale(1000ms);
    opacity: 0.5;
  }

  100% {
    -webkit-transition: -webkit-transform scale(2000ms);
    transition: -webkit-transform scale(2000ms);
    -o-transition: transform scale(2000ms);
    transition: transform scale(2000ms);
    transition: transform scale(2000ms), -webkit-transform scale(2000ms);
    opacity: 1;
  }
}
@keyframes translation-bloc {
  0% {
    -webkit-transition: -webkit-transform scale(0ms);
    transition: -webkit-transform scale(0ms);
    -o-transition: transform scale(0ms);
    transition: transform scale(0ms);
    transition: transform scale(0ms), -webkit-transform scale(0ms);
    opacity: 0;
  }
  50% {
    -webkit-transition: -webkit-transform scale(1000ms);
    transition: -webkit-transform scale(1000ms);
    -o-transition: transform scale(1000ms);
    transition: transform scale(1000ms);
    transition: transform scale(1000ms), -webkit-transform scale(1000ms);
    opacity: 0.5;
  }

  100% {
    -webkit-transition: -webkit-transform scale(2000ms);
    transition: -webkit-transform scale(2000ms);
    -o-transition: transform scale(2000ms);
    transition: transform scale(2000ms);
    transition: transform scale(2000ms), -webkit-transform scale(2000ms);
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  0%,
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes opacity {
  0%,
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes opacity-coeur {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-coeur {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes translation {
  0% {
    translate: 0;
  }
  100% {
    translate: -20%;
  }
}

@keyframes translation {
  0% {
    translate: 0;
  }
  100% {
    translate: -20%;
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* GENERIQUE */
* {
  -o-object-fit: cover;
     object-fit: cover;
}
.bouton-validation {
  position: absolute;
  height: 80px;
  width: 20%;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0px;
  top: 0px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  color: #fff;
  background-color: #99e2d0;
  border-radius: 0px 14px 14px 0px;
  font-size: 18px;
  opacity: 0;
  -webkit-animation: derouler 2000ms 0ms linear both;
          animation: derouler 2000ms 0ms linear both;
}

.validation {
  height: 18px;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

h4 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.section-entrees,
h4.p-titre {
  font-size: 1em;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

h3 {
  font-size: 15px;
  width: 60px;
  margin-left: 15px;
  border-bottom: 3px solid #99e2d0;
}

h4.p-titre-prix {
  font-size: 0.8em;
  width: 30%;
  padding-left: 20%;
  padding-right: 2%;
  margin-top: 34px;
  text-align: center;
}

h5 {
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.h5:hover {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.coeur-violet-1 {
  display: none;
  /* margin-left: -27.5px; */
  -webkit-animation: opacity-coeur 800ms 0ms linear both;
          animation: opacity-coeur 800ms 0ms linear both;
}

.activation-effet-1:hover .coeur-violet-1 {
  display: inline;
}
