html {
  margin-top: -8px;
  margin-left: -8px;
}

/*header*/
* {
  flex-wrap: nowrap;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
}

body > header:nth-child(1) {
 left: -74px;
}


header {
height: 100%;
width: 100%;
max-width: 845px;
margin:auto;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.photo-plat-restaurant-2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bouton-de-retour{
  display: flex;
}

.logo-chaine-2 {
display: block;
height: 100%;
width: 100%;
margin-bottom: 10px;
margin-top: 10px;
}

.fleche-retour {
height: 2em;
cursor: pointer;

}

.fleche-retour:hover{
  cursor: pointer;
  
}


button {
  background: none;
  border: none;
}

.bouton-de-retour > button:nth-child(1) {
 margin-right: 20%;
 padding-left: 16%;
}


.titre-h1{
height: 50px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

h1 {
height: 100%;
width: 80%;
display: flex;
align-items: center;
}

h1 {
width: 100%;
font-size: 25px;
margin-left: 15px;
font-family: 'Shrikhand', cursive;
}

#ensemble-du-menu {
  width: 378px;
  border-radius: 30px;
  background: coral;
}

h3 {
  font-size: 15px;
  width: 60px;
  margin-left: 15px;
  border-bottom: 1px solid green;
}

#ensemble-du-menu {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: -210px auto;
  padding: 15px 15px 0% 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  background-color: #e5e5e5;
  border-radius: 15px 15px 0px 0px;
}

/* RAVIOLES DE FOIE GRAS*/

.div-ravioles-de-foie-gras {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}
.div-ravioles-de-foie-gras:hover .bouton-validation {
 
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.div-ravioles-de-foie-gras:hover .p-titre-prix{
animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}

.ravioles-de-foie-gras{
width: 70%;
padding: 0px 1%;
transform-origin: left;
flex-wrap: nowrap;
}


/* CAVIAR OSCIETRE*/

.div-caviar-oscietre {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-caviar-oscietre:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transform-origin: right;
  animation-name: derouler;
  animation: 400ms 0ms linear ease-out;
  cursor: pointer;
}

.div-caviar-oscietre:hover .p-titre-prix {
animation: translation 300ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}

.caviar-oscietre {
width: 70%;
padding: 0px 1%;
transform-origin: left;
flex-wrap: nowrap;
}


/* HOMARD ET ESPUMA DE POTIRON*/

.div-homard-et-espuma-de-potiron {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-homard-et-espuma-de-potiron:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.div-homard-et-espuma-de-potiron:hover .p-titre-prix {
animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}

.homard-et-espuma-de-potiron {
flex-wrap: nowrap;
width: 70%;
padding: 0px 1%;
transform-origin: left;

}


/* FOIE GRAS DE CANARD CUIT ENTIER*/


.div-foie-gras-de-canard-cuit-entier{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-foie-gras-de-canard-cuit-entier:hover .bouton-validation {
   opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-foie-gras-de-canard-cuit-entier:hover .p-titre-prix{
animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}

.foie-gras-de-canard-cuit-entier{
  flex-wrap: nowrap;
width: 70%;
padding: 0px 1%;
transform-origin: left;
}


/* SECTION PLAT */



/* NOIX DE COQUILLE SAINT JACQUES*/

.div-noix-de-coquille-saint-jacques {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-noix-de-coquille-saint-jacques:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.div-noix-de-coquille-saint-jacques:hover .p-titre-prix {
animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}


.noix-de-coquille-saint-jacques {
flex-wrap: nowrap;
width: 70%;
padding: 0px 1%;
transform-origin: left;
}

/* LANGOUSTINE */


.div-langoustine-poelee{
position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-langoustine-poelee:hover .bouton-validation{
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-langoustine-poelee:hover .p-titre-prix{
  animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}

.langoustine-poelee{
flex-wrap: nowrap;
width: 70%;
padding: 0px 1%;
transform-origin: left;
}





/* MIJOTE */

.div-mijote-de-queue-de-boeuf{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}


.div-mijote-de-queue-de-boeuf:hover .bouton-validation {
opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.div-mijote-de-queue-de-boeuf:hover .p-titre-prix {
animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}

.mijote-de-queue-de-boeuf {
flex-wrap: nowrap;
width: 70%;
padding: 0px 1%;
transform-origin: left;
}


/* DESSERT */

/* MACARON*/


.div-macaron-noisette-et-chocolat{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-macaron-noisette-et-chocolat:hover .bouton-validation{
 opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-macaron-noisette-et-chocolat:hover .p-titre-prix{
animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}

.macaron-noisette-et-chocolat{
flex-wrap: nowrap;
width: 70%;
padding: 0px 1%;
transform-origin: left;
}

/* BABA */

.div-baba-au-rhum-revisite{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-baba-au-rhum-revisite:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-baba-au-rhum-revisite:hover .p-titre-prix{
   animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
 }

.baba-au-rhum-revisite{
  flex-wrap: nowrap;
width: 70%;
padding: 0px 1%;
transform-origin: left;
}


 /* MILLEFEUILLES */

.div-tarte-au-citron-meringuee{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-tarte-au-citron-meringuee:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-tarte-au-citron-meringuee:hover .p-titre-prix{
   animation: translation 400ms 0ms linear both;
padding-left: 0%;
padding-right: 21%;
}

.tarte-au-citron-meringuee{
  flex-wrap: nowrap;
width: 70%;
padding: 0px 1%;
transform-origin: left;
}



/* bouton commander */

.bouton-commander{
  align-content: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  text-align: center;
}

.commander{
  background: rgb(255, 121, 218);
  background: linear-gradient(
    171deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
  width: 35%;
border: 2px;
border-radius: 35px;
height: 50px;
margin-top: 30px;
margin-right: auto;
margin-bottom: 30px;
margin-left: auto;
box-shadow: #354146 3px 2px 5px;
}
.commander:hover{
  transform: scale(1.05);
  cursor:pointer;
}

.p-botton-commander{
  color: white;
  margin: 40px auto;
  padding-top: 13px;
  font-size: 19px;
  text-align: center;
}

/* FOOTER*/

.div-footer {
position: relative;
height: auto;
top:340px;
width: 100%;
background-color: #354146;


}



.logo-de-la-chaine-footer {
  margin-bottom: 10px;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  width: 100%;
  color: white;
  margin-left: 45%;
}

.bloc-footer-image-1 {
  
  display: flex;
  align-items: center;
  margin-left: 45%;
}

.couvert-footer {
  margin-top: -7px;
}

.p-couvert {
  
  margin: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.bloc-footer-image-2 {
  display: flex;
  align-items: center;
  margin-left: 45%;
}

.p-poignet-de-mains {
  text-align: center;
  margin: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.mention {
  margin-top: 5px;
  margin-left: 45%;
  margin-bottom: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}

.contact {
  margin-top: 5px;
  margin-left: 45%;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}



footer{
  width:100%;
  align-items: center;
}