html {
  margin-top: -8px;
  margin-left: -8px;
}

/*header*/
* {
  flex-wrap: nowrap;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

/* .spinner {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
   animation:opacity-inverse 600ms 6000ms linear both;
  
}
.spinner:before{
    
  content: '';
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255,255,255,0.5);
}


.spinner:not(:required):after{
  content: '';
  display: block;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin-top: -0.5em;

  border: 15px solid rgb(138, 0, 180);
  border-radius: 100%;
  border-bottom-color: transparent;
  animation: spinner 1s linear 0s infinite;


}  */

body {
  width: 100%;
}

body > header:nth-child(1) {
  left: -74px;
}

header {
  height: 100%;
  width: 100%;
  max-width: 845px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.photo-plat-restaurant-4 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bouton-de-retour {
  display: flex;
}

.logo-chaine-2 {
  display: block;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.fleche-retour {
  height: 2em;
  cursor: pointer;
}

.fleche-retour:hover {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

.bouton-de-retour > button:nth-child(1) {
  margin-right: 20%;
  padding-left: 16%;
}

.titre-h1 {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}

h1 {
  width: 100%;
  font-size: 25px;
  margin-left: 15px;
  font-family: 'Shrikhand', cursive;
}

#ensemble-du-menu {
  width: 378px;
  border-radius: 30px;
  background: coral;
}

h3 {
  font-size: 15px;
  width: 60px;
  margin-left: 15px;
  border-bottom: 1px solid green;
}

#ensemble-du-menu {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: -210px auto;
  padding: 15px 15px 0% 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  background-color: #e5e5e5;
  border-radius: 15px 15px 0px 0px;
}

/*TARTARE DE THON */

.div-tartare-de-thon {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}
.div-tartare-de-thon:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.div-tartare-de-thon:hover .p-titre-prix {
  animation: translation 400ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.tartare-de-thon {
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
  flex-wrap: nowrap;
}

/* BOUCHEE D'HOMARD CROUSTILLANT*/

.div-bouchee-d-homard-croustillant {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-bouchee-d-homard-croustillant:hover
  .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transform-origin: right;
  animation-name: derouler;
  animation: 400ms 0ms linear ease-out;
  cursor: pointer;
}

.div-bouchee-d-homard-croustillant:hover .p-titre-prix {
  animation: translation 300ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.bouchee-d-homard-croustillant {
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
  flex-wrap: nowrap;
}

/* VELOUTE DE CEPES*/

.div-veloute-de-cepes {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-veloute-de-cepes:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.div-veloute-de-cepes:hover .p-titre-prix {
  animation: translation 400ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.veloute-de-cepes {
  flex-wrap: nowrap;
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
}
/* SECTION PLAT */

/* POULET ROTIE AUX HERBES DE PROVENCE*/

.div-poulet-roti-aux-herbes-de-provence {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-poulet-roti-aux-herbes-de-provence:hover
  .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-poulet-roti-aux-herbes-de-provence:hover
  .p-titre-prix {
  animation: translation 400ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.poulet-roti-aux-herbes-de-provence {
  flex-wrap: nowrap;
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
}

/* LANGOUSTINE ROTIE*/

.div-langoustine-rotie {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-langoustine-rotie:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.div-langoustine-rotie:hover .p-titre-prix {
  animation: translation 400ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.langoustine-rotie {
  flex-wrap: nowrap;
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
}

/* COTES DE BOEUF ANGUS */

.div-cote-de-boeuf-angus {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-cote-de-boeuf-angus:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-cote-de-boeuf-angus:hover .p-titre-prix {
  animation: translation 400ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.cote-de-boeuf-angus {
  flex-wrap: nowrap;
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
}

/* DESSERT */

/* FARANDOLE DE DESSERTS */

.div-farandole-de-desserts {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-farandole-de-desserts:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}

.div-farandole-de-desserts:hover .p-titre-prix {
  animation: translation 400ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.farandole-de-desserts {
  flex-wrap: nowrap;
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
}

/* CREME BRULEE*/

.div-creme-brulee {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-creme-brulee:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-creme-brulee:hover .p-titre-prix {
  animation: translation 400ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.creme-brulee {
  flex-wrap: nowrap;
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
}

/* TIRAMISU */

.div-tiramisu {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.div-tiramisu:hover .bouton-validation {
  opacity: 1;
  transform: scaleX(1.2);
  transition-duration: 400ms;
  transform-origin: right;
  animation-name: derouler;
  animation: 300ms 0ms linear ease-out;
  cursor: pointer;
}
.div-tiramisu:hover .p-titre-prix {
  animation: translation 400ms 0ms linear both;
  padding-left: 0%;
  padding-right: 21%;
}

.tiramisu {
  flex-wrap: nowrap;
  width: 70%;
  padding: 0px 1%;
  transform-origin: left;
}

/* bouton commander */

.bouton-commander {
  align-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  text-align: center;
}

.commander {
  background: rgb(255, 121, 218);
  background: linear-gradient(
    171deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
  width: 35%;
  border: 2px;
  border-radius: 35px;
  height: 50px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  box-shadow: #354146 3px 2px 5px;
}
.commander:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.p-botton-commander {
  color: white;
  margin: 40px auto;
  padding-top: 13px;
  font-size: 19px;
  text-align: center;
}

/* FOOTER*/

.div-footer {
  position: relative;
  height: auto;
  top: 340px;
  width: 100%;
  background-color: #354146;
}

.logo-de-la-chaine-footer {
  margin-bottom: 10px;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  width: 100%;
  color: white;
  margin-left: 45%;
}

.bloc-footer-image-1 {
  display: flex;
  align-items: center;
  margin-left: 45%;
}

.couvert-footer {
  margin-top: -7px;
}

.p-couvert {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.bloc-footer-image-2 {
  display: flex;
  align-items: center;
  margin-left: 45%;
}

.p-poignet-de-mains {
  text-align: center;
  margin: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.mention {
  margin-top: 5px;
  margin-left: 45%;
  margin-bottom: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}

.contact {
  margin-top: 5px;
  margin-left: 45%;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}

footer {
  width: 100%;
  align-items: center;
}
