html {
  margin-top: -8px;
  margin-left: -8px;
}
body {
  width: 100%;
  height: 100%;
  /* animation:opacity 500ms 1000ms linear both; */
 
}

/*header*/





   .spinner {
  position: fixed;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
    
  
}
.container-spinner {
z-index: 999;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255,255,255,0.5);
 animation:opacity  6000ms forwards;
}


.spinner:not(:required):after{
  content: '';
  display: block;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin-top: -0.5em;
  border: 15px solid rgb(138, 0, 180);
  border-radius: 100%;
  border-bottom-color: transparent;
  animation: spinner 1s linear 0s infinite;


} 

header {
    height: 100%;
    width: 100%;
    max-width: 845px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

.div-logo-chaine{
  width: 100%;
  height: auto;
  text-align: center
}


.logo-chaine {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 50%;
}

.maps-position {
  background: #d8d8d8d8;
  display: flex;
}

.logo-position-maps {
  display: block;
  width: 30px;
  height: 20px;
}

.bloc-maps-logo {
      width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.text-maps {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  text-align: center;
  display: flex;
}

.bloc-reserve-et-bouton {
  width: 100%;
  background: rgba(245, 245, 245, 0.801);
  align-items: center;
  display: inline-block;
}

.h1-reserver {
  font-size: 21px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-top: 33px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.p-h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
  align-items: center;
  text-align: center;
}

.bouton-explorer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-bottom: 50px;
  text-align: center;
}
button {
  background: rgb(255, 121, 218);
  background: linear-gradient(
    171deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
  border: 2px;
  border-radius: 35px;
  height: 50px;
  width: 250px;
}
button:hover {
  transform: scale(1.05);
}

.p-button-explorer {
  color: white;
  margin: 0px;
  font-size: 17px;
  text-align: center;
}

.ensemble-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  margin-top: 0px;
  padding-top: 0px;
}

.h1-fonctionnement {
  margin-top: 7px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}
/* navigation phone*/

.menu-nav-phone {
  margin-left: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 0px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 3px 1px 0px gray;
  width: 320px;
  height: 65px;
  background: rgba(245, 245, 245, 0.801);
}

.menu-nav-phone:hover {
  background: #f7e0ff;
  transform: scale(1.05);
}

.nav-phone {
  padding-top: 10px;
  margin-left: 15px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-items: center;
  display: flex;
}

.numero-1 {
  margin-left: -26px;
}

.portable {
  visibility: visible;
  height: 20px;
  margin-left: 25px;
}

.portable-1 {
  display: none;
}

.menu-nav-phone:hover .portable-1 {
  display: inline;
  margin-left: -16px;
  height: 20px;
}

.p-portable {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 29px;
}

/* navigation composer votre menu*/

.menu-nav-deroule {
  margin-left: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 0px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 3px 1px 0px gray;
  width: 320px;
  height: 65px;
  background: rgba(245, 245, 245, 0.801);
}
.menu-nav-deroule:hover {
  background: #f7e0ff;
  transform: scale(1.05);
}

.nav-deroule {
  padding-top: 10px;
  margin-left: 15px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  display: flex;
}
.numero-2 {
  margin-left: -26px;
}

.menu-deroule {
  height: 15px;
  margin-left: 15px;
}

.menu-deroule-1 {
  display: none;
  margin-left: -23px;
}
.menu-nav-deroule:hover .menu-deroule-1 {
  display: inline;
}

.p-composez {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 27px;
}

/* navigation degustez*/

.menu-nav-boutique {
  margin-left: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 0px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 3px 1px 0px gray;
  width: 320px;
  height: 65px;
  background: rgba(245, 245, 245, 0.801);
}

.menu-nav-boutique:hover {
  background: #f7e0ff;
  transform: scale(1.05);
}

.nav-boutique {
  padding-top: 10px;
  margin-left: 15px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  display: flex;
}
.numero-3 {
  margin-left: -26px;
}

.boutique {
  height: 19px;
  margin-left: 20px;
}

.boutique-1 {
  margin-left: -26px;
  display: none;
}

.menu-nav-boutique:hover .boutique-1 {
  display: inline;
}

.p-boutique {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 20px;
}

/*section restauration*/

.ensembles-div-restaurant {
 height: 1100px;
}

.div-article-restauration {
  width: 100%;
margin: 0px auto;
padding: 15px 0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.bloc-restauration {
  width: 100%;
margin: 0px auto;
padding: 5px 0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
  background: rgba(245, 245, 245, 0.801);
}

.h1-restaurant {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: right;
}

/* Restaurant*/

/* LA PALETTE DU GOUT*/

.div-la-palette-du-gout {
  margin-top: 55px;
  margin-left: 22px;
  background: white;
  border-radius: 15px;
  height: 220px;
  width: 330px;
}

.div-la-palette-du-gout:hover {
  transform: scale(1.02);
}

.bloc-icone-nouveau-1 {
  background-color: crimson;
}

.icone-nouveau-1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 272px;
  margin-top: 15px;
  top: 845px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  position: absolute;
  z-index: 10;
  color: black;
  background-color: #99e2d0;
  width: 70px;
  text-align: center;
  border-radius: 3px;
}

.la-palette-du-gout {
  position: relative;
  z-index: 1;
  height: 185px;
  border-radius: 15px 15px 0px 0px;
  margin-top: -35px;
}
.bloc-p-la-palette-du-gout {
  display: flex;
  margin-left: 10px;
  line-height: 20px;
  margin-top: 0px;
}

.p-la-palette-du-gout {
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.coeur-1 {
  margin-left: 125px;
  margin-top: 20px;
}

.coeur-violet-1 {
  display: none;
  margin-left: -22px;
  animation: opacity-coeur 1000ms 0ms linear both
}

.activation-effet-1 {
  height: 39px;
}

.activation-effet-1:hover .coeur-violet-1 {
  display: inline;
}

/* LA NOTE ENCHANTEE*/

.div-la-note-enchantee {
  margin-top: 55px;
  margin-left: 22px;
  background: white;
  border-radius: 15px;
  height: 220px;
  width: 330px;
}

.div-la-note-enchantee:hover {
  transform: scale(1.02);
}

.icone-nouveau-2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 272px;
  margin-top: 15px;
  top: 1119px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  position: absolute;
  z-index: 10;
  color: black;
  background-color: #99e2d0;
  width: 70px;
  text-align: center;
  border-radius: 3px;
}
.la-note-enchantee {
  position: relative;
  z-index: 1;
  height: 185px;
  width: 330px;
  border-radius: 15px 15px 0px 0px;
  margin-top: -35px;
}

.bloc-p-la-note-enchantee {
  display: flex;
  margin-left: 10px;
  line-height: 20px;
  margin-top: 0px;
}

.p-la-note-enchantee {
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.coeur-2 {
  margin-left: 122px;
  margin-top: 20px;
}

.coeur-violet-2 {
  margin-left: -21px;
  display: none;
  animation: opacity-coeur 1000ms 0ms linear both
}

.activation-effet-2 {
  height: 39px;
}

.activation-effet-2:hover .coeur-violet-2 {
  display: inline;
}

/*  A LA FRANCAISE*/

.div-a-la-francaise {
  margin-top: 55px;
  margin-left: 22px;
  background: white;
  border-radius: 15px;
  height: 220px;
  width: 330px;
}

.div-a-la-francaise:hover {
  transform: scale(1.02);
}

.A-la-francaise {
  position: relative;
  height: 185px;
  width: 330px;
  border-radius: 15px 15px 0px 0px;
  margin-top: -35px;
}
.bloc-p-a-la-francaise {
  display: flex;
  margin-left: 10px;
  line-height: 20px;
  margin-top: 0px;
}
.p-a-la-francaise {
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}
.coeur-3 {
  margin-left: 160px;
  margin-top: 20px;
}

.coeur-violet-3 {
  margin-left: -21px;
  display: none;
  animation: opacity-coeur 1000ms 0ms linear both
}
.activation-effet-3 {
  height: 39px;
}
.activation-effet-3:hover .coeur-violet-3 {
  display: inline;
}

/*  LE DELICE DES SENS*/

.div-le-delice-des-sens {
  margin-top: 55px;
  margin-left: 22px;
  background: white;
  border-radius: 15px;
  height: 220px;
  width: 330px;
}

.div-le-delice-des-sens:hover {
  transform: scale(1.02);
}

.le-delice-des-sens {
  position: relative;
  height: 185px;
  width: 330px;
  border-radius: 15px 15px 0px 0px;
  margin-top: -35px;
}

.bloc-p-le-delice-des-sens {
  display: flex;
  margin-left: 10px;
  line-height: 20px;
  margin-top: 0px;
}

.p-le-delice-des-sens {
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}
.coeur-4 {
  margin-left: 124px;
  margin-top: 20px;
}

.coeur-violet-4 {
  margin-left: -21px;
  display: none;
  animation: opacity-coeur 1000ms 0ms linear both
}

.activation-effet-4 {
  height: 39px;
}

.activation-effet-4:hover .coeur-violet-4 {
  display: inline;
}

/* FOOTER*/

.div-footer {
  background: #141414d8;
  width: 100%;
  height: 160px;
  padding-top: 1px;
  margin-top: -20px;
}

.logo-de-la-chaine-footer {
  margin-bottom: 10px;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  width: 175px;
  color: white;
  margin-left: 20px;
}

.bloc-footer-image-1 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.couvert-footer {
  margin-top: -7px;
}

.p-couvert {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.bloc-footer-image-2 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.p-poignet-de-mains {
  margin: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-left: 15px;
  color: white;
}

.mention {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}

.contact {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}
